<h1><%= @guitar.model%>  </h1>

<h2><%= @guitar.model%> - <%= @guitar.make.name %> </h2>
<div>
  <p><%= @guitar.description %></p>

  <h3>Added by: <%= @guitar.user.username %> </h3>

<%= link_to "Edit #{@guitar.model} " " - " " #{@guitar.make.name}", edit_guitar_path(@guitar) if @guitar.user == current_user%>

</div>