<h1>Add a Review!</h1>

<%= form_for(@review) do |f|%>
    <div>
    <%= f.label :stars %>
    <%= f.number_field :stars, min:0, max:5 %>
    </div>
    <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
    </div>
    <div>
    <%= f.label :content %>
    <%= f.text_field :content %>
    </div>
    <%= f.hidden_field :guitar_id %>

    <%= f.submit %>
<% end %>